* {
    font-family: Tahoma, sans-serif;
}

#lewy, #prawy {
    background-color: #003d33;
    color: white;
    text-align: center;
    height: 50px;
}

#lewy {
    width: 70%;
    float: left;
}

#prawy {
width: 30%;
float: left;
}

.lewy {
    background-color: #26a69a;
    height: 550px;
    width: 30%;
    float: left;
}

.prawy {
    background-color: #26a69a;
    height: 550px;
    width: 70%;
    float: left;
}

footer {
    background-color: #003d33;
    color: white;
    width: 100%;

}

.wizytówka {
    width: 400px;
    margin: 30px;
    text-align: center;
    border: 1px solid #003d33;
}

#esa {
    background-color: #003d33;
    width: 100%;
    border: none;
    color: white;
    height: 30px;
}

#esa:hover {
    background-color: #004c40;
}